<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simple">
  <application
      android:label="simple"
      android:name="SampleApplication">
    <activity
        android:name=".SimpleActivity"
        android:label="simple">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
